{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
{% block header %}
{{ parent() }}
{% endblock %}
    {{ form_errors(commandeForm) }}
    <div id="container">
    {{ form_start(commandeForm) }}
        {# {{ form_row(commandeForm.now, {
            label: 'Date d\'emprunt : '
        }) }} #}
        
        <div id="row">
        {# {{ all }} #}
        {{ now }}
        {{ form_row(commandeForm.dateRetour, {
            label: 'Date de retour : '
        }) }}
        <a href="{{path('app_location')}}">Valider</a>
        </div>
    {{ form_end(commandeForm) }}
    </div>
{% endblock %}