{% extends 'base.html.twig' %}

{% block title %}Location{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}

    <!-- Display flash messages here, outside the loop -->
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                Hors stock
            </div>
        {% endfor %}
    {% endfor %}

    <div id="container">
        <div id="title-container">
            <h2>Locations disponibles :</h2>
        </div>
        <div id="list-container">
            <table>
                <thead>
                <tr>
                    <th>Titre du Livre</th>
                    <th>Auteur</th>
                    <th>Quantité</th>
                    <th>Commande</th>
                </tr>
                </thead>
                <tbody>
                {% for livre in livres %}
                    <tr>
                        <td>{{ livre.titre }}</td>
                        <td>{{ livre.auteur }}</td>
                        <td>{{ livre.quantite }}</td>
                        <td>
                            {% if livre.quantite > 0 %}
                                <a href="{{ path('app_commande', {'livreId': livre.id}) }}" id="{{livre.id}}">Commander</a>
                            {% else %}
                                Out of stock
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
