<!DOCTYPE html>
<html> 
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{asset('style/style.css')}}">
        <script defer src="{{asset('js/app.js')}}"></script>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% block header %}
        <header>
            <nav>
                <div id="logo-container">
                    <img id="logo" src="{{asset('assets/pictures/Logo_projet_livre.jpg')}}" alt="image d'un livre">
                </div>
                
                <div class="navigation-menu">
                {% if not app.user %}
                    <a id="register" href="{{path('app_register')}}">Enregistrement</a>
                    <a id="login" href="{{path('app_login')}}">Connexion</a>
                {% endif %}
                {% if app.user %}
                    <a id="profile" href="{{path('app_location')}}">Location</a>
                    <a id="profile" href="{{path('profil_user')}}">Profile</a>
                    <a id="logout" href="{{path('app_logout')}}">Déconnexion</a>
                {% endif %}
                </div>
                
                <div id="hamburger">
                    <div class="upper"></div>
                    <div class="middle"></div>
                    <div class="lower"></div>
                </div>
            </nav>
        </header>
        {% endblock %}
        {% if not app.user %}
        <div id="navigation">
            <a id="register" href="{{path('app_register')}}">Enregistrement</a>
            <a id="login" href="{{path('app_login')}}">Connexion</a>
        </div>
        {% endif %}
        {% if app.user %}
        <h1>Bienvenue {{ app.user.username }} !</h1>
        {% endif %}
        {% endblock %}
    </body>
</html>
