{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style/profil.css') }}">
{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock header %}
    <div class="user-profile">
    <div class="title">User name: <div class="userinfo">{{ app.user.username }}</div></div>
    <div class="title">First name: <div class="userinfo">{{ app.user.firstname }}</div></div>
    <div class="title">Last name: <div class="userinfo">{{ app.user.lastname }}</div></div>
    <div class="title">Email: <div class="userinfo">{{ app.user.email }}</div></div>
    <div class="title">Address: <div class="userinfo">{{ app.user.address }}</div></div>

    <a href="{{path('app_forgot_password_request')}}">Changer mon mot de passe</a>
    <a href="{{path('app_user_index')}}">Modifier mes informations</a>
    </div>
{% endblock body %}
