{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style/profil.css') }}">
{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock header %}
    <div class="user-profile">
        <div>User name: <div>{{ app.user.username }}</div></div>
        <div>First name: <div>{{ app.user.firstname }}</div></div>
        <div>Last name: <div>{{ app.user.lastname }}</div></div>
        <div>Email: <div>{{ app.user.email }}</div></div>
        <div>Address: <div>{{ app.user.address }}</div></div>

        <a href="#" class="change-password-link">Changer mon mot de passe</a>
    </div>
{% endblock body %}
