<div class="user-profile">
<h1>Edition des informations   </h1>
<form method="post">
    {{ form_start(form) }}
    <div class="title">
        {{ form_row(form.username) }}
    </div>
    <div class="title">
        {{ form_row(form.email) }}
    </div>
    <div class="title">
        {{ form_row(form.firstName) }}
    </div>
    <div class="title">
        {{ form_row(form.lastName) }}
    </div>
    <div class="title">
        {{ form_row(form.address) }}
    </div>
    <button class="btn-perso3">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</form>
</div>