{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
{% block header %}
{{parent()}}
{% endblock %}
    

    <div id="container">
    <h1>Vos informations {{app.user.username}}</h1>
    <br>
        <ul>
            <div id="row-edit"><li>Id :</li><span>{{ user.id }}</span></div>
            <div id="row-edit"><li>Username :</li><span>{{ user.username }}</span></div>
            <div id="row-edit"><li>Email :</li><span>{{ user.email }}</span></div>
            <div id="row-edit"><li>FirstName :</li><span>{{ user.firstName }}</span></div>
            <div id="row-edit"><li>LastName :</li><span>{{ user.lastName }}</span></div>
            <div id="row-edit"><li>Address :</li><span>{{ user.address }}</span></div>
            <div id="row-button">
                <a class="btn-perso"href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                <a class="btn-perso" href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
            </div>
        </ul>
    </div>
    {# <a href="{{ path('app_user_new') }}">Create new</a> #}
{% endblock %}
